*.semaphore
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.asol
*.asol_priv
*.stats
*.fac
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S25_V5451.cmesh/current.hyd
*.evtrs_1
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S2917_V5455_F5068/fields.imp
*.hvtrs_0
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S25_V5451.cmesh/current.lin
*.pnt
*.sld
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S25_V5451.sfmesh/current.sf_msh
*.profile
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S25_V5451.sfmesh/current.sf_mshhdr
*.sd
*.sab
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/mf_0/GeometryCache/BodyCache/0005142.fct
*.tmp
*.hyd
*.lin
*.tvc
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S2917_V5455_F5068/58_1.tvm
*.nvc
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S2917_V5455_F5068/58_1.tvz
*.tvz
*.sf_fld_0
*.fct
*.evtrs_hyd
*.tvm
*.sf_fld_1
*.hvtrs_1
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfssresults/HFSSDesign1.results/DV1923_S2917_V5455_F5068/fields.evtrs
*.evtrs_0
*.asol
*.dat
HFSS/DETECTOR/QUCS/detector.dat
HFSS/DETECTOR/QUCS/detector.dat
HFSS/DETECTOR/QUCS/detector.dat
HFSS/DETECTOR/QUCS/detector.dat
*.dat
*.lock
HFSS/DETECTOR/HFSS/sms7630-SMA-Rbox-pad.hfss.lock
*.auto
HFSS/DETECTOR/HFSS/sms7630-SMA-diode.hfssresults/HFSSDesign1.results/DV1923_S25_V6088.sfmesh/current.sf_msh
*.sf_mshhdr
*.evtrs
HFSS/DETECTOR/HFSS/sms7630-SMA-diode.hfssresults/HFSSDesign1.results/DV1923_S2917_V6125_F5068/fields.imp
*.sf_msh
*.imp
*.asol
*.asol
/SWRJS/nbproject