p.AlphaList { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%;}


p.AlphaListin { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%; }


p.AlphaListin2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%;}


p.AlphaListin3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%; }


p.AlphaListin4 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%;}


p.AlphaList1 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%;}


p.AlphaList1in { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%; }


p.AlphaList1in2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%;}


p.AlphaList1in3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt}; line-height: 140%;}


p.AlphaList1in4 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -12pt; line-height: 140%;}


h1.AppendixTitle { font: bold 24pt/26pt "Arial";
margin: 0 0 6pt 0; text-align: right; text-indent: 36pt }


p.AppGuideHead { font: bold 18pt/20pt "Arial";
margin: 20pt 36pt 0 54pt; text-align: right }


h2.AppGuideTitle { font: bold 14pt/16pt "Arial";
margin: 12pt 0 12pt 0; text-align: center }


p.AppNumber { font: bold 36pt/38pt "Arial";
margin: 0 0 6pt 0; text-align: right; text-indent: 36pt }


p.Body { font: 12pt/14pt "Arial";
margin: .5em 0 0 3pt; line-height: 140%;}


p.Bodyin { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 3pt; line-height: 140%;}


p.Bodyin2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 3pt; line-height: 140%;}


p.Bodyin2html { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 3pt; line-height: 140%;}


p.Bodyin3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 3pt; line-height: 140%;}


p.Bodyin3html { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 3pt; line-height: 140%;}


p.Bodyinhtml { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 3pt; line-height: 140%;}


p.BodyEqn { font: 12pt/14pt "MS Sans Serif";
margin: 3pt 0 0 54pt }


p.BodyEqn1 { font: 12pt/14pt "MS Sans Serif";
margin: 3pt 0 0 54pt }


p.BulletList { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 14pt; text-indent: -9pt ; line-height: 140%;}


p.BulletListin { font: 12pt/14pt "MS Sans Serif";
				line-height: 140%;
margin: .5em 0 0 24pt; text-indent: -9pt }


p.BulletListin2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: 12pt; line-height: 140%; }


p.BulletListin3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 26pt; text-indent: 18pt; line-height: 140%;}


p.BulletListin4 { font: 12pt/14pt "MS Sans Serif";
			     line-height: 140%;
margin: 0.5em 0 0 26pt; text-indent: 25pt }


p.BulletListin5 { font: 12pt/14pt "MS Sans Serif";
margin: 0 0 0 36pt; text-indent: -8pt; line-height: 140%;}


p.CellBody { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; line-height: 140%;}


p.CellBullet { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 14pt; text-indent: -9pt; line-height: 140%; }


p.CellBulletin { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 14pt; text-indent: 8pt;line-height: 140%; }


p.CellCenter { font: 12pt/14pt "MS Sans Serif";
margin: 3pt 0 0 0; text-align: center; line-height: 140%; }


p.CellContinued { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; line-height: 140%; }


p.CellContinuedin { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; line-height: 140%;}


p.CellEnum { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%; }


p.CellEnum1 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.CellExample { font: 12pt/14pt "Courier New";
margin: 2pt 0 2pt 18pt; line-height: 140%; }


p.CellHeading { font: bold 12pt/14pt "MS Sans Serif";
margin: 3pt 0 0 0; text-align: center; line-height: 140%; }


p.CellProcedure { font: 12pt/14pt "MS Sans Serif";
margin: 0 0 0 4pt; text-indent: -1pt ;line-height: 140%; }


p.CellSide { font: bold 12pt/14pt "MS Sans Serif";
margin: 3pt 0 0 0; line-height: 140%; }


p.Centered { font: 12pt/14pt "MS Sans Serif";
margin: 3pt 0 0 0; text-align: center; line-height: 140%; }


p.ChapterNumber { font: bold 36pt/38pt "Arial";
margin: 0 0 6pt 0; text-align: right; text-indent: 36pt }


h1.ChapterTitle { font: bold 24pt/26pt "Arial";
margin: 0 0 6pt 0; text-align: right; text-indent: 36pt }


h1.ContentsTitle { font: bold 24pt/26pt "Arial";
margin: 0 0 6pt 0; text-align: right; text-indent: 36pt }


p.EnumList { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.EnumListin { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%; }


p.EnumListin2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.EnumListin3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;  }


p.EnumListin4 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.EnumList1 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.EnumList1in { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.EnumList1in2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.EnumList1in3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%; }


p.EnumList1in4 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -12pt; line-height: 140%;}


p.Equation { font: italic 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 54pt }


p.Equation1 { font: italic 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 54pt }


p.Equations2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 54pt }


p.Example { font: 12pt/14pt "Courier New";
margin: 2pt 0 2pt 72pt }


p.Examplein { font: 12pt/14pt "Courier New";
margin: 2pt 0 2pt 90pt }


p.Examplein2 { font: 12pt/14pt "Courier New";
margin: 2pt 0 2pt 108pt }


p.Examplein3 { font: 12pt/14pt "Courier New";
margin: 2pt 0 2pt 126pt }

p.Examplein4 { font: 12pt/14pt "Courier New";
margin: 2pt 0 2pt 144pt }



p.FirstBody { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 3pt; line-height: 140%; }


h1.Head1 { font: bold 14pt/16pt "Arial";
margin: 0 0 0 2pt }


h2.Head2 { font: bold 12pt/14pt "Arial";
margin: 0 0 0 2pt }


h3.Head3 { font: bold 11pt/13pt "Arial";
margin: 0 0 0 2pt}


h4.Head4 { font: bold 12pt/14pt "MS Sans Serif";
margin: 0 0 0 2pt}


h3.Hint { font: bold 12pt/24pt "Arial";
margin: 0 9pt 0 0; text-align: right }


p.IndexTitle { font: bold 24pt/26pt "Arial";
margin: 0 0 6pt 0; text-align: right; text-indent: 36pt }


p.ListContAlpha { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -1pt; line-height: 140%;}


p.ListContAlphain { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -1pt; line-height: 140%;}


p.ListContAlphain2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -1pt; line-height: 140%;}


p.ListContAlphain3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 28pt; text-indent: -1pt; line-height: 140%;}


p.ListContinued { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 16pt; text-indent: -1pt; line-height: 140%;}


p.ListContinuedin { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 32pt; text-indent: -1pt; line-height: 140%; }


p.ListContinuedin2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 48pt; text-indent: -1pt; line-height: 140%;}


p.ListContinuedin3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 64pt; text-indent: -1pt; line-height: 140%; }


p.ListContinuedin4 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 80pt; text-indent: -1pt; line-height: 140%;}


p.ListContinuedin5 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 96pt; text-indent: -1pt; line-height: 140%;}



p.ListContinuedin6 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 112pt; text-indent: -1pt; line-height: 140%;}


p.ListContinuedin7 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 128pt; text-indent: -1pt; line-height: 140%;}


p.ListContinuedin8 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 144pt; text-indent: -1pt; line-height: 140%;}


p.NewPage { font: 12pt/14pt "MS Sans Serif";
margin: 3pt 0 500pt 54pt }


p.Note { font: bold 12pt/24pt "MS Sans Serif";
margin: 0 9pt 0 0; text-align: right; line-height: 140%; }


p.Notein { font: 10pt/12pt "MS Sans Serif";
    margin-left: 1em;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 140%; }

p.Procedure { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; text-indent: -1pt; line-height: 140%;  }


p.Procedurein { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; text-indent: -1pt; line-height: 140%; }


p.Procedurein2 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; text-indent: -1pt; line-height: 140%;}


p.Procedurein3 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; text-indent: -1pt; line-height: 140%;}


p.Procedurein4 { font: 12pt/14pt "MS Sans Serif";
margin: .5em 0 0 4pt; text-indent: -1pt; line-height: 140%;}


p.Reference { font: 10pt/11pt "MS Sans Serif";
margin: 3pt 0 0 54pt; text-indent: -18pt }


p.Reference1 { font: 10pt/11pt "MS Sans Serif";
margin: 3pt 0 0 54pt; text-indent: -18pt }


p.space { font: 4pt/4pt "Arial";
margin: .5em 0 0 18pt; line-height: 140%; }


h1.Subhead1 { font: bold 14pt/18pt "Arial";
margin: 0 0 0 2pt; line-height: 140%;}


h2.Subhead2 { font: bold 14pt/18pt "Arial";
margin: 0 0 0 2pt; line-height: 140%;color:#000000;padding-top:20px;}


h3.Subhead3 { font: bold 14pt/18pt "Arial";
margin: 0 0 0 2pt; line-height: 140%;color:#000000;}


h4.Subhead4 { font: bold 12pt/14pt "Arial";
margin: 0 0 0 2pt; line-height: 140%;}


h5.Subhead5 { font: bold 12pt/14pt "Arial";
margin: 0 0 0 2pt; line-height: 140%;}


h6.Subhead6 { font: bold 11pt/13pt "Arial";
margin: 0 0 0 2pt; line-height: 140%;}


p.SubTitle { font: bold 18pt/19pt "Arial";
text-align: right }


p.Time { font: bold 12pt/24pt "Arial";
margin: 0 9pt 0 0; text-align: right }


p.Title { font: bold 24pt/29pt "Arial" }


p.TopicFileName { font: 7pt/5pt "Arial";
margin: 0 0 0 5pt }


p.TableTitle { font: bold 12pt/14pt "MS Sans Serif";
text-align: center }


H3.WARNING      {font: bold 12pt/24pt "Arial";
margin: 0 9pt 0 0; text-align: right; line-height: 140%; }


p.titlelink  
{
margin-top:-10px;
line-height: 40px; 
font-size:13px; 
font-weight:bold; 
background-color:#E0E0E0; 
color:#000000; 
font-family:Verdana;
}

p.titlelink A { 
text-decoration:none;}

p.titlelink A:hover{ 
text-decoration:underline;}